header {
    background: #fff;

    .logo {
        font-weight: bold;
    }
        ul {
            list-style-type: none;
            margin: 0; padding: 0;
                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: 15px;
                    color: black;
                    
                    &:hover {
                        background: #fff;
                    }
                }
        }
    }
    .navbar a{
        color: green;
    }
